.like-input .false {
    color: rgb(162, 162, 162);
    margin: 5px 5px;
}

.like-input .false:hover {
    color: rgb(133, 242, 111);

}

.like-input .true {
    color: rgb(30,315,96);
    margin: 5px 5px;

}

.fa-heart {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

#detail-page {
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#album-image {
    width: 300px;
    height: 300px;
    margin: 50px;
    border: white 1px solid;
    border-radius: 5px;
}

.album-details {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album-buttons {
    display: inline-block;
    margin-left: 50px;
}


.album-header {
    display: flex;
}

.album-description::before {
    content: "・";
}

:where(.fa-trash-alt, .fa-plus) {
    font-size: 28px;
    line-height: 30px;
    color: rgb(188, 188, 188);

}

:where(.fa-plus, .fa-trash-alt):hover {
    font-size: 28px;
    color: white;
}


.fa-times {
    font-size: 30px;
    line-height: 30px;
    color: rgb(188, 188, 188);

}
.fa-times:hover {
    font-size: 30px;
    color: white;
}

.fa-edit {
    font-size: 24px;
    color: rgb(188, 188, 188);
}
.fa-edit:hover {
    font-size: 24px;
    color: white;
}

.song-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  grid-gap: 100px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.song-button {
    display: flex;
}
