.no-profile {
    padding: 60px;
}

.no-user-all-albums {
    display: flex;
    justify-content: space-around;

}

.profile-page-whole {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.playlist-display {
    /* display: flex; */
}
.play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.album-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
}
