.no-profile {
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 1500px;
    text-decoration: none;
}
a:visited,
a:link {
    color:white;
    text-decoration: none;
}
.no-profile-header {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    align-content: center;
}

.no-user-all-albums {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    
}

.no-profile h2 {
    border-bottom: solid white 1px;
    margin-right: 75%
}

.no-profile-header img {
    border-radius: 100%;
}
